body {
  .flex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 350px;
    margin: 40px 0;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #AED6F1;
    border-radius: 10px;
}
  }
